*
{
margin: 0;
padding: 0%;
}

body
{
margin: 0;
padding: 0%;
font-family: 'Rubik', sans-serif;
}

.container
{
background-color: black;
width: 100%;
height: 140vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

.left
{
width: 20px;
height: 40px;
margin-top: -20em;
margin-right: -.9em;
}

.lock
{
background-color:rgb(155, 155, 155);
width: 20px;
height: 40px;
border-radius: 3px;
}

.right
{
width: 10px;
height: 90px;
margin-top: -23em;
overflow: hidden;
}

.inner-right
{
margin-left: -.9em;
}

.vol-up
{
background-color: #4C4C4C;
width: 20px;
height: 40px;
border-radius: 5px;
margin-bottom: .5em;
}

.vol-down
{
background-color: #4C4C4C;
width: 20px;
height: 40px;
border-radius: 5px;
}



.mobile
{
width: 340px;
height: 685px;
background-color: rosybrown;
/* background-color: rgb(155, 155, 155); */
border-radius: 50px;
box-shadow: -82px 25px 41px -56px rgba(0, 0, 0, 0.671) inset, 50px -1px 38px -18px rgba(255,255,255,0.75) inset;
overflow: hidden;
display: flex;
align-items: center;
flex-direction: column;
}

.band1
{
border: 9px solid gainsboro;
border-radius: 60px;
height: 70px;
width: 260px;
margin-top: -2.8em;
}


.camera-glass
{
margin-top: 1em;
width: 48px;
height: 78px;
background-color: whitesmoke;
border-radius: 23px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 2px solid gray;
padding: 2px;
}

.camera
{
width: 48px;
height: 78px;
background-color: rgb(0, 0, 0);
background-position: center;
border-radius: 23px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 1em;
}

.camera-lense
{
width: 23px;
height: 23px;
background: rgba( 255, 255, 255, 0.15 );
border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column; 
z-index: 1;
}

.lense
{
position: absolute;
width: 15px;
height: 15px;
border-radius: 100px;
border: 4px inset gray;
display: flex;
align-items: center;
justify-content: center;
}

.deep-lense
{
border: 4px solid rgba(128, 128, 128, 0.377);
background-color: rgba(0, 0, 0, 0.541);
width: 5px;
height: 5px;
border-radius: 50px;
}

.flash
{
width: 23px;
height: 23px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column; 
z-index: 1;
border-radius: 20px;
}

.led
{
width: 15px;
height: 15px;
border-radius: 100px;
border: 4px inset gray;
display: flex;
align-items: center;
justify-content: center;
}

.deep-led
{
position: absolute;
background-color: rgb(189, 176, 115);
border: .5px ridge black;
width: 7px;
height: 7px;
}

.brand
{
width: 110px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 3.5em;
}

.logo
{
font-family: 'Rubik', sans-serif;
font-size: 22px;
font-weight: 700;
letter-spacing: 1.4px;
}

.band-second
{
position: absolute;
margin-top: 39em;
height: 28px;
overflow: hidden;
padding: 1em 1em;
border-radius: 100px;
}

.band2
{
position: relative;
border: 9px solid gainsboro;
border-radius: 60px;
height: 70px;
width: 260px;
}